{% extends "base.html" %}
{% block title %}Mapper{% endblock %}
{% block content %}
  <table border="1">
    <tr>
      <th style="padding: 4px 10px;">name</th>
      <th style="padding: 4px 10px;">latest_uploaded</th>
    </tr>
    {% for mapper in object_list %}
    <tr>
      <td style="padding: 4px 10px;"><a href="https://beatsaver.com/uploader/{{ mapper.id }}" target="_blank">{{ mapper.username }}</a></td>
      <td style="padding: 4px 10px;">{{ mapper.latest_uploaded|date:"Y-m-d H:i" }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
